.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.players{
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}
.card{
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #dadada;
  cursor: pointer;
  transition: 500ms all ease;

  &:hover{
    transform: scale(1.1);
  }
}
.container{
  height: 100vh;
  max-width: 900px;
  margin-inline: auto;
  .title {
    padding: 1rem 0;
    text-align: left;
  }
}
