.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100dvh;
  width: 100vw;

  .head {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 30px;
    }
  }

  .rules {
    background-color: #ffffffc0;
    color: black;
    margin-top: 3rem;
    border-radius: 5px;
    padding: 1rem;
    .title {
      font-size: 20px;
    }
    ul {
      li {
        margin-left: 1rem;
      }
    }
  }

  .room {
    margin-top: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .create {
      display: flex;
      gap: 1rem;
      input {
        min-width: 250px;
        text-transform: uppercase;
        border-radius: 5px;
        border: 1px solid #ffffffc0;
        padding: 1rem;
        background-color: #ffffffc0;
        color: black;
        &::placeholder {
          text-transform: initial;
        }
        &:focus {
          outline: none;
          border: 1px solid #ffffff;
        }
      }
    }
    .button {
      border-radius: 5px;
      background-color: #ffffffc0;
      border: 1px solid #ffffffc0;
      color: black;
      padding: 1rem;
      transition: all 0.5s;
      &.join {
      }
      &:hover {
        background-color: transparent;
        color: white;
        scale: 1.05;
        transition: all 0.5s;
      }
    }
  }
}
