.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100dvh;
  width: 100vw;

  .head {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 30px;
      margin-bottom: 2rem;
      font-weight: 800;
    }
  }

  .rules {
    background-color: #fff;
    color: black;
    border-radius: 10px;
    padding: 1rem;

    .title {
      font-size: 20px;
    }

    ul {
      li {
        margin-left: 1rem;
      }
    }
  }

  .room {
    margin-top: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .create {
      display: flex;
      gap: 1rem;

      input {
        min-width: 250px;
        text-transform: uppercase;
        border-radius: 10px;
        border: 1px solid #fff;
        padding: 0.8rem 1rem;
        background-color: #fff;
        color: black;

        &:focus {
          outline: none;
          border: 1px solid #ffffff;
        }
      }
    }
  }
}
